@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: "NimbusSansRound-Regular";
  src: url("./assets/fonts/NimbusSansRound-Regular.eot"); /* IE 9 Compatibility Mode */
  src:
    url("./assets/fonts/NimbusSansRound-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./assets/fonts/NimbusSansRound-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/NimbusSansRound-Regular.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./assets/fonts/NimbusSansRound-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/NimbusSansRound-Regular.svg#NimbusSansRound-Regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFontwght.eot"); /* IE 9 Compatibility Mode */
  src:
    url("./assets/fonts/Manrope-VariableFontwght.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./assets/fonts/Manrope-VariableFontwght.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/Manrope-VariableFontwght.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./assets/fonts/Manrope-VariableFontwght.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/Manrope-VariableFontwght.svg#Manrope-VariableFontwght")
      format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 100 900; /* от Thin до Black */
  font-display: swap;
  font-style: normal;
}

html {
  font-family: "Manrope", sans-serif;
}

/* p,
span {
  font-family: "DylanBesawCyrillic-Normal", sans-serif;
} */

input,
select {
  color: rgba(73, 50, 0, 0.387);
  border-color: rgba(73, 50, 0, 0.89);
  border-radius: 10px;
}
