@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: "NimbusSansRound-Regular";
  src: url("./assets/fonts/NimbusSansRound-Regular.eot"); /* IE 9 Compatibility Mode */
  src:
    url("./assets/fonts/NimbusSansRound-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./assets/fonts/NimbusSansRound-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/NimbusSansRound-Regular.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./assets/fonts/NimbusSansRound-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/NimbusSansRound-Regular.svg#NimbusSansRound-Regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFontwght.eot"); /* IE 9 Compatibility Mode */
  src:
    url("./assets/fonts/Manrope-VariableFontwght.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./assets/fonts/Manrope-VariableFontwght.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/Manrope-VariableFontwght.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./assets/fonts/Manrope-VariableFontwght.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/Manrope-VariableFontwght.svg#Manrope-VariableFontwght")
      format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 100 900; /* от Thin до Black */
  font-display: swap;
  font-style: normal;
}

html {
  font-family: "Manrope", sans-serif;
}

/* p,
span {
  font-family: "DylanBesawCyrillic-Normal", sans-serif;
} */

input,
select {
  color: rgba(73, 50, 0, 0.387);
  border-color: rgba(73, 50, 0, 0.89);
  border-radius: 10px;
}

.hero-block-bg {
  background-image: url("./assets/img/background/blockOneMobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1536px) {
  .hero-block-bg {
    background-image: url("./assets/img/background/blockOne.png");
  }
}

.poster-block-bg {
  background-image: url("./assets/img/background/blockThree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .poster-block-bg {
    background-image: url("./assets/img/background/blockThree_Notebook.png");
  }
}

@media (min-width: 1536px) {
  .poster-block-bg {
    background-image: url("./assets/img/background/blockThree.png");
  }
}

.poster-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(238, 105, 119, 0.7) rgba(243, 229, 124, 0.5);
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

.poster-scroll::-webkit-scrollbar {
  width: 8px;
  background: rgba(243, 229, 124, 0.5);
}

.poster-scroll::-webkit-scrollbar-track {
  background: rgba(243, 229, 124, 0.5);
  border-radius: 12px;
}

.poster-scroll::-webkit-scrollbar-thumb {
  background: rgba(238, 105, 119, 0.7);
  border-radius: 12px;
}

.poster-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 105, 119, 0.85);
}
